{
  box-sizing: border-box;
}

body {
  
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 2px #CCCCCC;
}

.container {
  text-align: center;
  background-size: 60%;
  background-position: top center;
}
.js-bookmark-entry {
  display: inline-block;
}
ul {
  padding-inline-start: 0;
}
.bookmark-list {
  padding: 10px;
  margin-top: 0;
  margin-left: 300px;
  margin-right: 300px;
  border: 1pt solid black;
}
#js-bookmark-list-form {
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 0;
  border: 1pt solid black;
}

.js-bookmark-entry {
  padding: 5px;
  border-bottom: 300px;
}
.error-container {
  color: red;
  font-weight: bold;
}

.error-container * {
  display: inline-block;
}

#cancel-error {
  margin-right: 0.5rem;
}






/* 
 {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    background-size: 600px;
    background-position: top center;
  }

main, .error {
    max-width: 400px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    background-position: top center;
  }
h1 {
    text-align: center;
}

.checked { 
    color: orange;
  }
.book-clicked{
    display: flex;
    justify-content: space-around;
    border: 1pt solid black;


}
.full-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
.book{
    
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    border: 1pt solid black;


}
.top-buttons {
    max-width: 400px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}
.new-book, .filter-books {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border-width: 2px;
    display: flex;
    justify-content: space-around;
    
}
.visit, .fa-trash{
    display: inline-block;
}

.book-description {
    border: 1pt solid black;
} */